[submodule "wine"]
	path = wine
	url = https://gitlab.com/wine-ce/wine.git
[submodule "qemu"]
	path = qemu
	url = https://gitlab.com/wine-ce/qemu.git
[submodule "dxvk"]
	path = dxvk
	url = https://gitlab.com/wine-ce/dxvk.git
