Source: wine-ce
Section: misc
Priority: optional
Maintainer: Bo YU <tsu.yubo@gmail.com>
Rules-Requires-Root: no
Build-Depends:
    debhelper-compat (= 13),
    clang,
    lld,
    meson,
    ninja-build,
    gcc,
    flex,
    bison,
    libc6-dev-amd64-cross,
    libc6-dev-arm64-cross,
    libasound2-dev,
    libpulse-dev,
    libdbus-1-dev,
    libfontconfig-dev,
    libfreetype6-dev,
    libgnutls28-dev,
    libtiff-dev,
    libgl-dev,
    libegl-dev,
    libunwind-dev,
    libxml2-dev,
    libxslt1-dev,
    libfaudio-dev,
    libgstreamer1.0-dev,
    libgstreamer-plugins-base1.0-dev,
    libmpg123-dev,
    libosmesa6-dev,
    libsdl2-dev,
    libudev-dev,
    libvkd3d-dev,
    libvulkan-dev,
    libcapi20-dev,
    liblcms2-dev,
    libcups2-dev,
    libgphoto2-dev,
    libsane-dev,
    libgsm1-dev,
    libkrb5-dev,
    libldap2-dev,
    samba-dev,
    ocl-icd-opencl-dev,
    libpcap-dev,
    libusb-1.0-0-dev,
    libv4l-dev,
    libpcsclite-dev,
    libxcomposite-dev,
    libglib2.0-dev,
    libnet1-dev,
    python3-pip
Standards-Version: 4.6.2
Homepage: https://gitee.com/wine-ce/wine-ce
#Vcs-Browser: https://salsa.debian.org/debian/wine-ce
#Vcs-Git: https://salsa.debian.org/debian/wine-ce.git

Package: wine-ce
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: Wine-CE for running Windows app on Linux
 Wine-CE (Chimera Edition, Cross-architecture Emulator)
 is a compatibility layer capable of running Windows 
 applications on Cross-architecture paltform of Linux. 
 It is base on Wine Project and Qemu Project. 
